# Sphinx build artifacts
build/*/*
_build/*/*
build/
_build/
venv/*
.vscode/*
.idea/*

# LaTeX junk
*.aux
*.log
*.toc
*.idx
*.ilg
*.ind
*.out
*.fdb_latexmk
*.fls

# # Backup and OS files
# *~
# .DS_Store
